

 #results{
    display: none;
}

table
{   
    width: 90%;
    margin: auto;
    border: 1px solid rgb(167, 167, 167);
    transition: transform .2s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 6px;
}
th
{
    border: 1px solid black;
    padding: 5px;
    background-color:rgb(48, 48, 48);
    color: white;
    
}
td
{
    border: 1px solid rgb(187, 187, 187);
    padding: 5px;
}

.red{
    color: rgb(252, 26, 26);
    font-weight: bold;
}

.brown{
    color: rgb(172, 50, 2);
    font-weight: bold;
}

.orange{
    color: rgb(255, 115, 0);
    font-weight: bold;
}

.green{
    color: rgb(23, 124, 23);
    font-weight: bold;
}
