
.flex{
    display: flex;
    justify-content: flex-start;
}

#display{
    background-color: rgb(112, 114, 114);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    visibility: hidden;
}
