body{
    background-color: #f8f7f7;
    width: 100%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(187, 187, 187, 0), rgba(129, 129, 129, 0.75), rgba(0, 0, 0, 0));

}

label {
    font-weight: 300;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    display: block;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}
input {
    padding: 0.75rem 0.5rem 0.75rem 0.8rem;
    border: solid 1px #ccc;
    width: 100%;
}
input:hover {
    cursor: pointer;
}
input[readonly], input[disabled] {
    cursor: not-allowed;
    background: #fff;
}
input[readonly='readonly'], input[disabled='disabled'] {
    cursor: not-allowed;
    background: #fff;
}
label {
    display: inline-block;
    position: relative;
}
input[type='radio'] {
    margin-right: 0.25rem;
    margin-bottom: 1rem;
}
input[type="radio"] + label::before {
    display: inline-block;
    content: '';
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    border-radius: 12px;
    margin-right: 5px;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
input[type="radio"] + label::before {
    position: absolute;
    top: 2px;
    left: 0;
}
input[type="radio"] + label::after {
    background-color: #2aa1c0;
    content: "";
    border-radius: 10px;
    opacity: 0;
    width: 12px;
    height: 12px;
    top: 7px;
    left: 5px;
    position: absolute;
    transform: scale(0);
    transition: transform 200ms ease;
}
input[type="radio"]:checked + label:after {
    transform: scale(1);
    opacity: 1;
}
input[type="radio"]:disabled + label::before {
    box-shadow: none;
    cursor: not-allowed;
}


.top{
    width: 90%;
    height: 30px;
    margin: auto;
    border: none;
    background-color: #ffffff;
    color: #474647;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }

  .top p{
      font-size: larger;
      font-weight: bold;
      color: #494949;
  }
  
  .page{
    width: 90%;
    background-color: #effdf6;
    color: #38b36f;
    margin: auto;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    border-radius: 0 0 6px 6px;
    margin-bottom: 25px;
    display: none;
    
  }

  .value{
      width: 25px;
      height: 25px;
      background-color: #0b8aaa;
      padding: 8px;
      margin: 0;
      border-radius: 50px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      
  }

  .value p{
    color: #ffffff;
    text-align: center;
  }

  #gcs{

      display: flex;
      justify-content: center;
      
  }


  .gcsarea{
    width: 60%;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #dad7d7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    min-height: 45px;
    background-color: #fef6ff;
  }

